<h1><%= @cocktail.name %></h1>
<%= link_to 'Add Ingredient', new_cocktail_dose_path(@cocktail)   %>
<% @cocktail.doses.each do |dose| %>
<%= dose.description%>
<%= dose.ingredient.name%>
<% end %>
<%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>

